<div class="container">

  <h1 style="text-align: center">Retrieve your saved Gif</h1>


  <form #retrieveForm="ngForm" (ngSubmit)="RetrieveGIFPService()">

    <div class="row justify-content-center ">

      <div class="col-md-5 mycol" >


      <input class="form-control" type="text" name="search" id="search" ngModel/>

      </div>

    </div>

    <div class="row justify-content-center " style="margin-top: 10px">


      <div class="col-md-3 mycol " style="text-align: center">
        <button class="btn btn-secondary" type="reset">Clear</button>
      </div>

      <div class="col-md-3 mycol " style="text-align: center">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>

  </form>

  <app-display-user-gif>

