<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <nav mat-tab-nav-bar>

    <div class="row justify-content-center myrow">
    <a mat-tab-link
       [routerLink]="['search']">
      Search Gif
    </a>

    <a mat-tab-link
       [routerLink]="['retrieve']">
      Retrieve Gif
    </a>

    </div>

  </nav>

  <router-outlet></router-outlet>

  <!--<app-search-form></app-search-form>-->
  <!--<app-display></app-display>-->



  <!--<app-retrieval-form></app-retrieval-form>-->
  <!--<app-display-user-gif></app-display-user-gif>-->



</div>
